.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 289px;
}
.capacity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card.rotated {
    transform: rotateY(180deg);
}
.card-body {
    backface-visibility: hidden;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px; /* Espacio entre elementos */
}

.btn-secondary {
    background-color:#76ABAE; /* Color personalizado */
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transición suave al cambiar de estado */
}

.btn-secondary:hover {
    background-color:  #65999C; /* Color al pasar el mouse */
}

.color {
    border: 2px solid #76ABAE; /* Borde más grueso y color personalizado */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination .page-item {
    margin: 0 2px; /* Ajusta el margen entre los elementos */
}

.pagination .page-link {
    color: black;
    text-decoration: none;
    border: 1px solid #76ABAE;
    border-radius: 3px;
    transition: all 0.3s;
}

.pagination .page-link:hover {
    background-color: #65999C;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #65999C;
    border-color: #65999C;
    color: black;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
}

.active-page .page-link {
    background-color: #65999C;
    border-color: #65999C;
    color: white !important;
}